/NetBeans/HelloWorld/nbproject/private/
/NetBeans/HelloWorld/build/
/NetBeans/HelloWorld/dist/
/NetBeans/BC180408671/nbproject/private/
/NetBeans/JavaApplication4/nbproject/private/
/NetBeans/BC180408671/build/